# .NET
bin/
obj/
.vs/
*.user
*.log
*.swp

# File nhạc & ảnh — giữ local, không push Git
API/wwwroot/audio/
API/wwwroot/images/

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/.env*
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/pnpm-debug.log*
Frontend/lerna-debug.log*
Frontend/*.local

# OS
.DS_Store
Thumbs.db

# Ignore API settings
API/appsettings.json
